@import url("https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap");

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.logo {
  display: flex;
  justify-content: center;
}

.logo-parent {
  display: flex;
  justify-content: center;
}

.presentation-text {
  text-align: center;
  font-size: 1.2rem;
  color: black;
  font-family: "Tinos", serif;
  padding-top: 70px;
  margin: 0 25px 70px 25px;
  display: flex;
  justify-content: center; /* centre horizontalement */
  align-items: center; /* centre verticalement */
}

.nav-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

.nav-link {
  text-decoration: none;
  font-family: "Rubik", sans-serif;
  color: black;
  font-size: 1.2rem;
}

.nav-link:hover {
  color: #007bff;
  text-decoration: underline;
  text-decoration-color: #007bff;
  transition: 0.3s ease;
}

.userAndCart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10px 0px 0px;
}

.cart {
  max-width: 40px;
}

.user-icon {
  max-width: 40px;
}

.cart:hover,
.user-icon:hover {
  transform: scale(1.15);
  opacity: 0.85;
  cursor: pointer;
}

.cart,
.user-icon {
  transition: transform 0.2s ease, opacity 0.2s ease;
}
