@import url('https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.sidebar {
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
}


.logo {
    display: flex;
    justify-content: center;
}

.logo-parent {
    display: flex;
    justify-content: center;
}

.presentation-text {
    text-align: center;
    font-size: 1.2rem;
    color:black;
    font-family:"Tinos", serif;
    padding-top:70px;
    margin: 0 25px 70px 25px;
    display: flex;
    justify-content: center;  /* centre horizontalement */
    align-items: center;       /* centre verticalement */
}


.nav-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

.nav-link {
    text-decoration: none;
    font-family:"Rubik", sans-serif;
    color: black;
    font-size: 1.2rem;
}


.nav-link:hover {
    color: #007BFF;
    text-decoration: underline;
    text-decoration-color: #007BFF;
    transition: 0.3s ease;

}

.userAndCart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 10px 0px 0px;
    overflow: visible;
}

.cart {
    width: 60px;
    display: block;
    transition: transform 0.2s ease, opacity 0.2s ease;
}


.user-icon {
    width: 100%;
    height: 100%;
    display: block;
}


.userAndCart a {
    display: flex;
    align-items: center;
    justify-content: center;
}


.cart,
.user-icon {
    max-width: 60px;
    display: block;
    transition: transform 0.2s ease, opacity 0.2s ease;
    transform-origin: center; 
}

.user-link {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease, opacity 0.2s ease;
}

.userAndCart a:hover .user-icon,
.userAndCart a:hover .cart,
.user-link:hover,
.cart:hover {
    transform: scale(1.05);
    opacity: 0.85;
    cursor: pointer;
}