.sidebar {
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
}


.logo {
    display: flex;
    justify-content: center;
}

.logo-parent {
    display: flex;
    justify-content: center;
}

.presentation-text {
    text-align: center;
    font-size: 1.2rem;
    font-family: Arial;
    margin: 0 25px 70px 25px;
}


.nav-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-bottom: 15px;
}

.nav-link {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    font-family: Arial, sans-serif;
}


.nav-link:hover {
    color: #007BFF;
    text-decoration: underline;
    text-decoration-color: #007BFF;
    transition: 0.3s ease;

}