/* ======================= */
/*     CARTES DRONES       */
/* ======================= */

.card-drone-img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.card-drone {
    width: 180px;
    height: 250px;
    padding: 10px;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    text-decoration: none !important;
    color: inherit !important;

    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card-drone:hover {
    transform: translateY(-5px) scale(1.02);
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.cards-drone a {
    text-decoration: none;
    color: inherit;
}

.card-drone-content {
    padding: 10px 0 0 0;
    text-align: left;
}

.card-drone-title {
    margin: 0;
    font-size: 1.1rem;
    font-weight: bold;
}

.card-drone-model {
    font-size: 0.8rem;
    opacity: 0.5;
}

/* Container cartes aligné */
.cards-drone {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    max-width: 1000px;
    margin-top: 10px;
    gap: 30px;
}


/* ======================= */
/*       TITRE PAGE        */
/* ======================= */

.title-text-droneList {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    padding: 2rem 0 0 0;
    max-width: 800px;
    font-size: 16px;
    color: rgb(58, 53, 53);
}

.title-text-droneList h1 {
    margin-bottom: 1rem;
}

.title-text-droneList small {
    font-size: 0.9rem;
    color: #bbb;
}


/* ======================= */
/*  CONTAINER GLOBAL       */
/* ======================= */

.drone-list-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 30px 10px 0 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


/* ======================= */
/*        FILTRES          */
/* ======================= */

.filter-group {
    position: relative;
    display: inline-flex;
    background: rgba(232, 232, 232, 0.47);
    padding: 3px;
    border-radius: 12px;
    margin-bottom: 20px;
    gap: 0;
}

/* Boutons */
.filter-group .filter-btn {
    width: 80px;
    padding: 10px 20px;
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 0.75rem;
    font-weight: 500;
    transition: color 0.25s ease;
    border-radius: 8px;
    z-index: 2;
}

.filter-group .filter-btn.active {
    color: white;
}

/* Slider animé */
.filter-slider {
    position: absolute;
    top: 3px;
    bottom: 3px;
    width: 80px;
    border-radius: 10px;
    z-index: 1;
    transition: all 0.3s ease;
}

.filter-slider.all {
    transform: translateX(0%);
    background: rgba(113, 182, 0, 0.6);
}

.filter-slider.chaud {
    transform: translateX(100%);
    background: #ff6900;
}

.filter-slider.froid {
    transform: translateX(200%);
    background: #1daee6;
}

.filter-slider.boisson {
    transform: translateX(300%);
    background: #7b00ff;
}
