.card-drone-img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.card-drone {
    width: 200px;
    height: 250px;
    margin: 10px;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
}

.card-drone-content {
    padding: 10px 0 0 0 ;
    text-align: left;
}

.card-drone-title {
    margin: 0;
    font-size: 1.1rem;
    font-weight: bold;
}

.card-drone-description {
    font-size: 0.9rem;
    color: #666;
}

.cards-drone {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.title-text-droneList {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    padding: 2rem 0 0 0;
    max-width: 800px;
}

.title-text-droneList h1 {
    margin-bottom: 1rem;
}

.title-text-droneList small {
    font-size: 0.9rem;
    color: #656565
}