.card-drone-img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.card-drone {
    width: 200px;
    height: 250px;
    margin: 10px;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
}

.card-drone-content {
    padding: 10px 0 0 0 ;
    text-align: left;
}

.card-drone-title {
    margin: 0;
    font-size: 1.1rem;
    font-weight: bold;
}

.card-drone-description {
    font-size: 0.9rem;
    color: #666;
}

.cards-drone {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    gap:30px
}

.card-drone {
    width: 180px;
    height: 250px;
    padding: 10px;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    text-decoration: none !important;
    color: inherit !important;

    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card-drone:hover {
    transform: translateY(-5px) scale(1.02);
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}


.cards-drone a {
    text-decoration: none;
    color: inherit;
}

.title-text-droneList {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    padding: 2rem 0 0 0;
    max-width: 800px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16px;
    color:rgb(58, 53, 53);
}

.title-text-droneList h1 {
    margin-bottom: 1rem;
}

.title-text-droneList small {
    font-size: 0.9rem;
    color: #bbb
}

.card-drone-model {
    font-size :0.8rem;
    opacity: 0.5;
}