.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

.card {
    flex: 1 1 300px;
    min-width: 300px;
    position: relative;
}

.card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease;
    z-index: 1;
}

.card:hover::before {
    background-color: rgba(0, 0, 0, 0.2);
}

.card:hover {
    transform: scale(1.015);
    transition: 0.2s ease-in-out;
    cursor: pointer;
}
.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    z-index: 2;
}
